body {
	background-color: white;
}
.title{
	background-color: #E59719;
	color: white;
	padding: 1%;
	text-align: center;
}
.nopadd{
	padding: 0 !important;
}
.btn-primary {
	background-color: #3B7F7E;
}
/*formulario*/
.formulario {
	margin: 2% 1% 1%;
}
textarea{

	padding: 2%;
	border: solid 3px #3B7F7E;
	overflow: auto;
	width: 100% !important;
}
button{
	margin-left: 1%;
}
/*li*/
.lista li {
	list-style-type: none;
	background-color: #EDEBD2;
	padding: 3px;
	padding-left: 15px;
	margin-top: 2px;
}
.lista li a {
	text-decoration: none;
	color: black;
}

.lista{
	padding-left: 0px;
}
.right {
	float: right;
	margin-right: 3%;
	padding-top: 2px;
}

.list {
	height: 200px;
	overflow: auto;
}

/*otro*/
.removeMe {
	float: right;
	margin-right: 2%;
	background-color: transparent !important;
	border: none !important;
}
.removeMe:hover {
	color: red;
}
.tachar {
  text-decoration: line-through;
  color: red;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}